body {
    display: flex;
    justify-content: center;
}

.doors {
    position: absolute;
}

.first-door, .second-door {
    display: inline-block;
    float: left;

    width: 300px;
    height: 200px;
    margin: 0;

    border: 5px solid darkblue;
    background-color: rgb(0, 0, 255);
}

.first-door:hover {
    animation: for_dors_left 2s forwards;
}

.second-door:hover {
    animation: for_dors_left 2s forwards;
}

.doors:hover {
    .first-door {
        animation: for_dors_left 2s forwards;
    }

    .second-door {
        animation: for_dors_right 2s forwards;
    }
}

.hello {
    padding-top: 5.5%;

    font-size: 50px;
}

@keyframes for_dors_left {
    100% {
        transform: rotate3d(0, 1, 0, 60deg);
        background-color: pink;
    }
}

@keyframes for_dors_right {
    100% {
        transform: rotate3d(0, 1, 0, -60deg);
        background-color: pink;
    }
}