.biggest {
    display: flex;
    width: 400px;
    height: 40px;
    background-color: red;
    border-radius: 5px;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    border: 3px dashed white;
    color: white;
    background-color: red;
    text-align: center;
    border-radius: 5px;     
    width: 97%;
    height: 85%;
    align-items: center;
    box-sizing: border-box;
    margin: 6px;
}

.text {
    text-align: center;
}

.in-text {
    background-color: rgb(255, 191, 0);
    color: black;
}