table {
    border-collapse: collapse;
}

th {
    padding: 3px 10px;
    min-width: 75px;
}

.first-child, .nth-child{
    background-color: rgb(0, 219, 219);
}

.first-child {
    position: fixed;
    top: 0;
    z-index: 2;
}

.nth-child {
    position: sticky;
    z-index: 1;
    left: 0;
}