body {
    display: flex;
    justify-content: center;

    background-color: aliceblue;
}

img {
    width: 100%;
}

.all {
    display: grid;
    grid-template-columns: 70% 30%;
    
    max-width: 1000px;

    border-radius: 20px;

    position: relative;
}

.all p {
    font-size: 18px;
}

.photo {
    display: inline-block;

    width: 100%;
    height: max-content;

    background-color: rgb(19, 19, 116);

    border-radius: 10px;
    overflow: hidden;  
    
    margin-top: 20px;
    margin-left: 15px;
}

.photo:hover {
    cursor: pointer;
}

.photo p {
    margin-top: 8px;
    margin-right: 10px;

    text-align: right;
    font-size: 20px;
    
    color: white;
}


@media (width <= 600px) {
    .all {
        display: flex;
        flex-direction: column;
    }
    .all p {
        font-size: 14px;
    }
    .photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        width: 90%;
        height: max-content;
    
        background-color: rgb(19, 19, 116);
    
        border-radius: 10px;
        overflow: hidden;  
        
        margin: 10px;
    }
}
