body {
    margin: 0;
    padding: 0;
    background-color: rgb(222, 222, 222);
}
img {
    width: 100%;
}

.zag {
    font-family: 'TeX Gyre Adventor';

    padding: 20px 30px;
    margin: 0;
}

.panel {
    min-width: none;
    width: 200px;
    height: 100vh;
    position: fixed;

    background-color: rgb(255, 255, 255);

    border-right: 3px solid grey; 
}

.pages {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
}

.page {
    display: flex;
    align-items: center;

    width: 90%;
    height: max-content;

    padding: 15px 20px;

    cursor: pointer;
}

.page:hover {
    color: white;
    background-color: rgb(125, 0, 58);
}

.page-image {
    width: 25px;
    height: 25px;
}

.allin {
    margin-left: 220px;
    margin-right: 20px;
    width: 84%;
}

.general-info {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    margin-top: 40px;
}

.info {
    background-color: white;
    height: 150px;

    margin: 0 10px;

    box-shadow: 4px 3px 3px rgb(119, 119, 119);
}

.inside {
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

.upper {
    position: relative;
    
    width: 100%;
    height: 60%;

    border-bottom: 1px solid rgb(197, 197, 197);
}
.upper-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;

    width: 70px;
    aspect-ratio: 1/1;

    background-color: rgb(3, 150, 3);
}
.upper-img img {
    width: 30px;
}
.upper-text {
    display: flex;
    flex-direction: column;

    top: 50%;
    
    text-align: right;
}
.up-text {
    font-size: 15px;
}
.under-text {
    font-size: 30px;
}

.under {
    display: flex;
    align-items: center;

    color: grey;
    height: 40%;
}