body {
    margin: 0;
    padding: 0;
    background-color: rgb(222, 222, 222);
}
img {
    width: 100%;
}

.cont {
    display: flex;
    justify-content: center;
}

.zag {
    font-family: 'TeX Gyre Adventor';

    padding: 20px 30px;
    margin: 0;
}

.panel {
    min-width: none;
    width: 200px;
    height: 100vh;
    position: fixed;

    background-color: rgb(255, 255, 255);

    border-right: 3px solid grey; 

    z-index: 1;
}

.pages {
    display: flex;
    flex-direction: column;
    align-items: center;


    margin-top: 20px;
}

.page {
    display: flex;
    align-items: center;

    width: 90%;
    height: max-content;

    padding: 15px 20px;

    cursor: pointer;
}

.page:hover {
    color: white;
    background-color: rgb(125, 0, 58);
    .page-image {
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
    }
}

.page-image {
    width: 30px;
    height: 30px;
}

.allin {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 220px;
    margin-right: 20px;
    width: max-content;

    border-bottom: 1px solid black;
}

.general-info {
    display: grid;
    grid-template-columns: 278px 278px 278px 278px;

    margin-top: 40px;

}

.info {
    background-color: white;
    height: max-content;

    margin: 0 10px;

    box-shadow: 4px 3px 3px rgb(119, 119, 119);
}

.inside {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    background-color: white;
}

.upper {
    position: relative;
    
    width: 100%;
    height: 80px;

    border-bottom: 1px solid rgb(197, 197, 197);
}
.upper-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;

    width: 70px;
    aspect-ratio: 1/1;
}
.upper-img img {
    width: 50px;
    aspect-ratio: 1/1;
}
.upper-text {
    display: flex;
    flex-direction: column;

    top: 50%;
    margin-top: 10px;

    text-align: right;
}
.up-text {
    color: rgb(154, 154, 154);
    font-size: 15px;
}
.under-text {
    font-size: 22px;
}
.under {
    display: flex;
    align-items: center;

    font-size: 12px;

    color: grey;
    height: 45px
}

.statistic {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    height: max-content;

    margin-top: 50px;
    


}
.statistic-card {
    margin: 0 10px;
    display: flex;
    justify-content: center;

    height: max-content;

    box-shadow: 4px 3px 3px rgb(119, 119, 119);
}
.statistic-img{
    display: flex;
    justify-content: center;
    position: relative;
    height: 165px;
}
.statistic-img img{
    position: absolute;
    top: -20px;
}
.statistic-text {
    font-size: 20px;
}
.statistic-text p {
    margin: 0;
}

.tasks {
    display: grid;
    grid-template-columns: 50% 50%;
    
    height: max-content;
    width: 100%;

    margin: 50px 0;
}
.tasks-card {
    margin: 0 10px;
    box-shadow: 4px 3px 3px rgb(119, 119, 119);
}
.tasks-header {
    position: relative;
    width: 100%;
    height: 70px;
}
.tasks-header-text {
    display: flex;
    align-items: center;

    position: absolute;
    top: -20px;

    width: 100%;
    height: 100%;

    background-color: rgb(209, 160, 0);
}
.tasks-grid-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;

    width: 100%;
    height: 70%;
}
.TASKS, .button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    padding: 0 10px;
    margin: 0 6px;
}
.button:hover{
    background-color: rgb(174, 142, 0);
    cursor: pointer;
}
.tasks-text {
    display: grid;
    grid-template-columns: 10% 70% 10% 10%;

    margin: 5px 0;

    width: 100%;
    height: 55px;

    border-bottom: 1px solid black;
}
.tasks-align {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tasks-align img:hover {
    cursor: pointer;
}

.worker-list-header {
    position: relative;

    width: 100%;
    height: 80px;
}
.worker-list-header-1 {
    position: absolute;
    top: -20px;

    width: 100%;
    height: max-content;

    background-color: blue;
    color: white;
}
.worker-info {
    display: grid;
    grid-template-columns: 2fr 5fr 3fr 3fr;

    width: 100%;
    height: 40px;

    border-bottom: 1px solid black;
}
.pole-id {
    justify-content: center;
}
.pole {
    margin-left: 10px;
}
.pole-id, .pole {
    display: flex;
    align-items: center;
}




@media (min-width:800px) and (max-width: 1000px) {
    .general-info {
        width: 700px;
        grid-template-columns: 350px 350px;
        grid-template-rows: 170px 170px;
        margin-top: 0px;
        justify-content: center;
    }
    .info {
        margin-top: 20px;
        margin-left: 0;
    }
    .upper-text {
        margin-top: 10px;
    }
    .upper-img {
        width: 90px;
    }
    .under-text {
        font-size: 30px;
    }
    .up-text {
        font-size: 20px;
    }
    .under-text{
        font-size: 30px;
    }

    .statistic {
        width: 700px;
        grid-template-columns: 233.33px 233.33px 233.33px;
        margin-left: 0;
        justify-content: center;
    }
    .statistic-img {
        height: 100px;
    }

    .tasks {
        grid-template-columns: 100%;
        grid-template-rows: 350px 300px;
    }
    .tasks-card {
        height: max-content;
    }
    .tasks-text {
        margin: 0;
    }
    .tasks-text-in {
        display: flex;
        align-items: center;

    }
    
}