:root {
    --main_vtn_color: rgb(125, 0, 58);
}


body {
    margin: 0;
    padding: 0;
    background-color: rgb(222, 222, 222);
}
img {
    width: 100%;
}
label {
    width: 90%;
}

.panel {
    min-width: none;
    width: 200px;
    height: 100vh;
    position: fixed;

    background-color: rgb(255, 255, 255);

    border-right: 3px solid grey; 

    z-index: 1;
}
.pages {
    display: flex;
    flex-direction: column;
    align-items: center;


    margin-top: 20px;
}
.page {
    display: flex;
    align-items: center;

    width: 100%;
    height: max-content;

    padding: 15px 20px;

    cursor: pointer;
}
.page-image {
    width: 30px;
    height: 30px;
}

.zag {
    display: flex;

    font-family: 'TeX Gyre Adventor';

    padding: 20px 30px;
    margin: 0;
}
.allin, .profile {
    display: none;
    flex-direction: column;
    justify-content: center;

    margin-left: 200px;
    margin-right: 20px;
    width: max-content;
}
.profile {
    margin-left: 220px;
}
.general-info {
    display: grid;
    grid-template-columns: 278px 278px 278px 278px;

    margin-top: 40px;

}
.info {
    background-color: white;
    height: max-content;

    margin: 0 10px;

    box-shadow: 4px 3px 3px rgb(119, 119, 119);
}
.inside {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    background-color: white;
}
.upper {
    position: relative;
    
    width: 100%;
    height: 80px;

    border-bottom: 1px solid rgb(197, 197, 197);
}
.upper-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;

    width: 70px;
    aspect-ratio: 1/1;

    box-shadow: 4px 3px 3px rgb(119, 119, 119);
}
.upper-img img {
    width: 50px;
    aspect-ratio: 1/1;
}
.upper-text {
    display: flex;
    flex-direction: column;

    top: 50%;
    margin-top: 10px;

    text-align: right;
}
.up-text {
    color: rgb(154, 154, 154);
    font-size: 15px;
}
.under-text {
    font-size: 22px;
}
.under {
    display: flex;
    align-items: center;

    font-size: 12px;

    color: grey;
    height: 45px
}

.statistic {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    height: max-content;

    margin-top: 50px;
}
.statistic-card {
    margin: 0 10px;
    display: flex;
    justify-content: center;

    height: max-content;

    box-shadow: 4px 3px 3px rgb(119, 119, 119);
}
.statistic-img{
    display: flex;
    justify-content: center;
    position: relative;
    height: 165px;
}
.statistic-img img{
    position: absolute;
    top: -20px;
}
.statistic-text {
    font-size: 20px;
}
.statistic-text p {
    margin: 0;
}
.tasks {
    display: grid;
    grid-template-columns: 50% 50%;
    
    height: 315px;
    width: 100%;

    margin: 50px 0;
}
.tasks-card {
    margin: 0 10px;
    box-shadow: 4px 3px 3px rgb(119, 119, 119);
}
.tasks-header {
    position: relative;
    width: 100%;
    height: 70px;
}
.tasks-header-text {
    display: flex;
    align-items: center;

    position: absolute;
    top: -20px;

    width: 100%;
    height: 100%;

    background-color: rgb(209, 160, 0);
}
.tasks-grid-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;

    width: 100%;
    height: 70%;
}
.TASKS, .button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    padding: 0 10px;
    margin: 0 6px;
}
.button:hover{
    background-color: rgb(174, 142, 0);
    cursor: pointer;
}
.tasks-text {
    display: grid;
    grid-template-columns: 10% 70% 10% 10%;

    margin: 5px 0;

    width: 100%;
    height: 55px;

    border-bottom: 1px solid black;
}
.tasks-align {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tasks-align img:hover {
    cursor: pointer;
}

.worker-list-header {
    position: relative;

    width: 100%;
    height: 80px;
}
.worker-list-header-1 {
    position: absolute;
    top: -20px;

    width: 100%;
    height: max-content;

    background-color: blue;
    color: white;
}
.worker-info {
    display: grid;
    grid-template-columns: 2fr 5fr 3fr 3fr;

    width: 100%;
    height: 40px;

    border-bottom: 1px solid black;
}
.pole-id {
    justify-content: center;
}
.pole {
    margin-left: 10px;
}
.pole-id, .pole {
    display: flex;
    align-items: center;
}

.user-information {
    display: flex;
    width: 1300px;
    height: max-content;
    margin-bottom: 30px;
    margin-top: 15px;
    
}
.anketa {
    width: max-content;
    height: 100%;
    background-color: white;
    box-shadow: 4px 3px 3px rgb(119, 119, 119);
}
.anketa-content {
    width: 900px;
    height: 100%;
    padding: 0 15px;
}
.anketa-header {
    position: relative;
    height: 85px;
    width: 100%;
}
.a-h-absolite {
    width: 100%;

    padding: 10px 0;

    position: absolute;
    top: -20px;

    color: white;
    background-color: var(--main_vtn_color);
}
.register-info{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: max-content;
}
.input-string {
    display: grid;

    width: 100%;
    height: 15%;

    margin-bottom: 20px;
}
.form-str {
    display: flex;
    flex-direction: column;
}
.textar {
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(191, 191, 191);
    width: 100%;
    resize: none;
}
.textar:focus {
    outline: none;
    border-bottom: 2px solid rgb(108, 108, 108);
}

.form-str p{
    margin: 0;
    font-size: 12px;
    color: rgb(130, 130, 130);
}
.form-str input {
    border: 0;
    border-bottom: 2px solid rgb(191, 191, 191);
    width: 100%;
}
.form-str input:focus {
    outline: none;
    border-bottom: 2px solid rgb(108, 108, 108);
}
.la {
    margin: 0;
    margin: 5px 10px;
}
.btn {
    margin: 0 30px;
    padding: 0;
    
    color: white;
}
.register-info p button:hover {
    color: white;
}
.register-info p button:focus {
    outline: none;
    color: white;
}
.biografy, .biografy-dop {
    display: flex ;
    justify-content: center;

    width: 370px;
    height: max-content;
    background-color: white;
    box-shadow: 4px 3px 3px rgb(119, 119, 119);
    margin-left: 30px;
}
.biografy-content {
    width: 100%;
    height: 100%;

    padding: 0 15px;
}
.biografy-img {
    position: absolute;
    top: -15px;

    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;

    width: 35%;
}
.biografy-text {
    display: flex;
    text-align: center;

    min-height: 60px;
    width: 100%;

    word-break: break-word;
    color: rgb(62, 62, 62);

    margin-bottom: 20px;
}







.footer {
    display: flex;
    align-items: center;

    width: 100%;
    height: 40px;

    border-top: 1px solid black;
}
.footer-text {
    margin: 0 20px;
}
.footer-text p {
    display: flex;
    align-items: center;
}
.footer span {
    display: flex;
    margin-right: 10px;

    width: 100%;
    justify-content: end;
}

#list:checked + label, #list2:checked + label, #list3:checked + label, #list4:checked + label, #list5:checked + label  {
    .page {
        color: white;
        background-color: var(--main_vtn_color);
        width: 100%;
    }
    .page-image {
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
    }
    .allin {
        display: flex;
    }
}
#list:hover + label, #list2:hover  + label, #list3:hover  + label, #list4:hover  + label, #list5:hover + label {
    .page {
        color: white;
        background-color: var(--main_vtn_color);
        width: 100%;
    }  
    .page-image {
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
    }
}


@media (min-width:800px) and (max-width: 1000px) {
    .general-info {
        margin: 0 10px;
        width: calc(100vw - 210px);
        min-width: 681px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 170px 170px;
        justify-content: center;
    }
    .info {
        margin-top: 20px;
        margin-left: 0;
    }
    .upper-text {
        margin-top: 10px;
    }
    .upper-img {
        width: 90px;
    }
    .under-text {
        font-size: 30px;
    }
    .up-text {
        font-size: 20px;
    }
    .under-text{
        font-size: 30px;
    }

    .statistic {
        width: clac(100vw - 200px);
        grid-template-columns: 233.33px 233.33px 233.33px;
        margin-left: 0;
        justify-content: center;
    }
    .statistic-img {
        height: 100px;
    }

    .tasks {
        height: max-content;
        grid-template-columns: 100%;
        grid-template-rows: 350px 300px;
        margin-bottom: 10px;
    }
    .tasks-card {
        height: max-content;
    }
    .tasks-text {
        margin: 0;
    }
    .tasks-text-in {
        display: flex;
        align-items: center;
    }


    .profile {
        width: calc(100vw - 200px);
        min-width: 720px;
        align-items: center;
    }
    .biografy-dop {
        display: flex !important;
        margin: 0;
        width: 680px;
    }
    .biografy-img {
        width: 20%;
    }
    .biografy {
        display: none;
    }
    .user-information {
        width: 680px;
    }
    .anketa {
        margin-top: 20px;
    }
    .anketa-content {
        width: 100%;
    }
}
@media (max-width: 800px) {
    h3 {
        width: 100%;
    }
    .panel {
        display: none;
        
    }
    .zag {
        margin-left: -20px;
    }
    .profile {
        width: calc(100vw - 40px);
        margin: 0 20px;
        align-items: center;
    }
    .form-str p{
        font-size: 14px;
    }
    .biografy-dop {
        display: flex !important;
        margin: 0 20px;
        width: 100%;
        min-width: 555px;
    }
    .biografy-img {
        width: 20%;
        max-width: 120px;
    }
    .biografy {
        display: none;
    }
    .user-information {
        width: 100%;
    }
    .anketa {
        margin-top: 20px;
    }
    .anketa-content {
        width: 100%;
    }
}

@media (min-width: 650px) and (max-width: 800px) {
    .zag {
        margin-left: -20px;
    }
    .zag-img {
        display: flex !important;
    }
    .panel {
        display: none;
    }
    .allin {
        margin: 0 20px;
    }
    .general-info {
        width: 700px;
        grid-template-columns: 350px 350px;
        grid-template-rows: 170px 170px;
        margin-top: 0px;
        justify-content: center;
    }
    .info {
        margin-top: 20px;
        margin-left: 0;
    }
    .upper-text {
        margin-top: 10px;
    }
    .upper-img {
        width: 90px;
    }
    .under-text {
        font-size: 30px;
    }
    .up-text {
        font-size: 20px;
    }
    .under-text{
        font-size: 30px;
    }

    .statistic {
        width: 700px;
        grid-template-columns: 233.33px 233.33px 233.33px;
        margin-left: 0;
        justify-content: center;
    }
    .statistic-img {
        height: 100px;
    }

    .tasks {
        height: max-content;
        grid-template-columns: 100%;
        grid-template-rows: 350px 300px;
        margin-bottom: 10px;
    }
    .tasks-card {
        height: max-content;
    }
    .tasks-text {
        margin: 0;
    }
    .tasks-text-in {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 500px) and (max-width: 650px) {
    .allin {
        justify-content: center;
    } 
    .zag {
        margin-left: -20px;
    }
    .zag-img {
        display: flex !important;
    }
    .panel {
        display: none;
    }
    .allin {
        margin: 0 20px;
    }
    .general-info {
        width: 580px;
        grid-template-columns: 300px 300px;
        grid-template-rows: 160px 160px;
        margin-top: 15px;
        justify-content: center;
    }
    .statistic {
        grid-template-columns: 590px;
        grid-template-rows: 470px 470px 470px;
    }
    .statistic-img {
        height: 305px;
    }
    .tasks {
        height: max-content;
        grid-template-columns: 100%;
        grid-template-rows: 350px 350px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .tasks-card {
        height: max-content;
    }
    .tasks-text {
        margin: 0;
    }
}

@media (max-width: 500px) {
    .allin {
        justify-content: center;
    }   
    .zag {
        margin-left: -20px;
    }
    .zag-img {
        display: flex !important;
    }
    .panel {
        display: none;
    }
    .allin {
        margin: 0 20px;
    }
    .general-info {
        width: 580px;
        grid-template-columns: 565px;
        grid-template-rows: 200px 200px 200px 200px;
        margin-top: 15px;
        justify-content: center;
    }
    .upper {
        height: 70%;
    }
    .upper-img {
        width: 115px;
    }
    .upper-img img {
        width: 60px;
    }
    .up-text {
        font-size: 25px;
    }
    .under-text {
        font-size: 50px;
    }
    .statistic {
        grid-template-columns: 590px;
        grid-template-rows: 470px 470px 470px;
    }
    .statistic-img {
        height: 305px;
    }
    .tasks {
        height: max-content;
        grid-template-columns: 100%;
        grid-template-rows: 350px 350px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .tasks-card {
        height: max-content;
    }
    .tasks-text {
        margin: 0;
    }
}