* {
    margin: 0;
    padding: 0;
}

#toogle-modal-window + label {
    display: block;

    width: 150px;
    height: 40px;
    line-height: 40px;

    text-align: center;

    background-color: aqua;
    color: white;
}

#toogle-modal-window + label:hover {
    background-color: darkgoldenrod;
    cursor: pointer;
}

#modal-window {
    position: fixed;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vw;

    background-color: rgb(176, 170, 170, 0.7);
    
    display: flex;
    justify-content: center;
    align-items: center;
}