body {
    background-color: lightgray;
    margin: 0;
}

.content-cont {
    width: 430px;;
}

.content-cont .last-text {
    float: right;
    color: rgb(101, 1, 101);
}

.header {
    display: flex;

    background-color: grey;
    color: white;

    font-style: inherit;
    font-size: 30px;
    margin: 0.5%;

    height: 55px;
}

.header-text {
    margin: 10px;
}

.razdel {
    display: inline-block;
    margin: 5px;
    width: 200px;
}

.razdel .lak2 {
    float: right;

    color: white; 
    background-color: grey;

    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.razdel .razdel-text .lak2 b {
    margin: 4px;
}

.lak{
    color: rgb(76, 76, 112);
}

.lak2 {
    text-align: right;
}

