body {
    background-color: rgb(246, 255, 255) !important;
    position: relative;
}
.avatar-standart-size {
    width: 42px;
    aspect-ratio: 1/1;
}
.text-standart-size {
    font-size: 18px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;

    width: 100%;
    height: 60px;
    padding: 0 50px;
}
.header-profile {
    display: flex;
    align-items: center;
}

.for-padding {
    height: max-content;
    width: 100%;

    padding: 5px 80px;
}
.main-container {
    display: grid;
    grid-template-columns: 15% 25% 60%;
    grid-column-gap: 10px;

    margin-top: 80px;
}

#nav + label {
    width: 100%;
    height: 30px;
    background-color: rgba(38, 205, 77, 0.901);
}
.nav-label {
    width: 100%;
    height: 50px;

    margin: 2px 0;

    display: flex;
    align-items: center;

    border-radius: 8px;
}
.nav-label:hover {
    background-color: rgb(210, 254, 254);
    border-radius: 8px;
    cursor: pointer;
}
.mes-counter {
    width: max-content;
    height: max-content;

    padding: 5px 5px;

    color: white;
    font-size: 15px;
}

.about-user {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.users-avatar {
    background-color: white; 

    width: 80%;
    height: max-content;

    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.6);
}
.users-avatar img {
    width: 80%;
}
.forImgAU {
    display: flex;
    justify-content: center;
    align-items: center;    

    width: 100%;
    height: max-content;

    border-bottom: 1px solid rgb(223, 223, 223);
}
#fileAU {
    display: none;
}
.btn-choose-photo {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(0, 225, 255);

    border-radius: 10px;

    width: 70%;
    height: 45px;

    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.6);
}
.btn-choose-photo:hover {
    cursor: pointer;
}

.friends-list {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 80px 80px 80px;
}
.friend-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    font-size: 12px;
}
.friend-card img {
    width: 50px;
}

.post-profile {
    padding: 0 30px;

    width: 100%;
    height: max-content;

    background-color: white;

    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.6);
}
.user-profile-header {
    display: flex;
    align-items: center;

    width: 100%;
    height: max-content;
    border-bottom: 1px solid rgb(223, 223, 223);
}
.user-profile-info {
    height: 120px;

    display: grid;
    grid-template-rows: 50% 50%;

    border-bottom: 1px solid rgb(223, 223, 223);
}
.user-info {
    display: grid;
    grid-template-columns: 40% 60%;

    height: 100%;
}
.user-info-string {
    display: flex;
    align-items: center;
}
.user-info-general {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;

    height: 90px;
}
.ab {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.post-profile {
    display: flex;
    flex-direction: column;
}
.headerOfPost {
    display: flex;
    align-items: center;
    height: 50px;

    margin: 10px 0;
}
.infoAboutPost {
    display: flex;
    flex-direction: column;
}
.text-post {
    width: 100%;
    height: max-content;

    color: black;
    line-height: 25px;
    margin-top: 0;
    padding-bottom: 25px;
    margin-bottom: 0;

    border-bottom: 1px solid rgb(223, 223, 223);
}
.post-likes {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33% ;

    width: 400px;
    height: 50px;
}
.flex-cont {
    display: flex;
    align-items: end;
    justify-content: flex-end;
}
