body {
    margin: 0;
}

img {
    max-width: 60px;
    max-height: 60px;
}

.menu {
    display: none;
    grid-template-rows: 100px 120px 120px 120px 120px;

    width: 100px;
    height: 100vh;

    background-color: grey;
}

.text, .pict {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.text {
    color: white;
    font-size: 22px;
}

.pict {
    display: flex;

}