body {
    margin: 0;
    display: flex;
}

img {
    max-width: 40px;
    max-height: 40px;
}

.menu {
    display: none;
    grid-template-rows: 120px 120px 120px 120px 120px;

    min-width: 80px;
    height: 100vh;

    background-color: grey;
}

.second-menu {
    display: flex;
    width: 250px;
    height: 100vh;
    background-color: grey;
    z-index: 1;
}

.sec-m-str {
    width: 250px;
    height: 120px;
}

.text, .pict {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.text {
    color: white;
    font-size: 20px;
}

.pict {
    display: flex;
}

.ipsum {
    position: fixed;
    margin-left: 7%;
    margin-right: 5%;
}

.ipsum p {
    font-size: 20px;
}