body {
    margin: 20px;
}

p {
    margin: 0;
}

.string {
    display: grid;
    grid-template-columns: 7fr 10fr 7fr;
}



.user-info-chat {
    display: flex;
    height: 70px;
}

.user-info-left, .user-info-right{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    height: 100%;
}

.user-info-left {
    text-align: right;
}

.user-info-right {
    text-align: left;
}

.text-chat-left, .text-chat-right {
    display: flex;
    align-items: center;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    
}

.text-chat-left {
    border-bottom-right-radius: 20px;
    background-color: rgb(235, 139, 139);
}

.text-chat-right {
    border-bottom-left-radius: 20px;
    background-color: aquamarine;
}

.text-chat-left p, .text-chat-right p {
    font-size: 20px;
    margin: 10px 30px;
}