body {
    background-color: aliceblue;
    padding: 0px 20px;
}

.product {
    display: inline-block;

    width: 180px;
    height: 230px;

    border: 2px solid black;
    border-radius: 20px;

    background-color: white;
    margin-bottom: 20px;
    margin: 0 5px;
}

.product img {
    max-width: 85%;
}

.product p {
    margin: 5px 0;
}

.product:hover {
    animation: anim 0.3s forwards;
}

@keyframes anim {
    0% {

    }
    100% {
        filter: brightness(95%);
        transform: scale(1.07);
    }
}